<div class="container">
  <h3>Plukkit</h3>
  <a href="https://github.com/Conji/plukkit"><span class="ion-social-github"></span> Check out the GitHub&trade;!</a>
  <span>Built on Electron, Plukkit uses:</span>
  <ul>
    <li><a href="https://angularjs.org/">Angular</a></li>
    <li><a href="https://codemirror.net/">CodeMirror</a></li>
    <li><a href="https://github.com/tsayen/dom-to-image">dom-to-image</a></li>
    <li><a href="https://github.com/delvedor/electron-is">electron-is</a></li>
    <li><a href="https://github.com/nathanbuchar/electron-settings">electron-settings</a></li>
    <li><a href="https://jquery.com">jQuery</a></li>
  </ul>
  <p>
    Idea inspired by <a href="https://github.com/dawnlabs/carbon">Carbon</a> and <a href="https://getsharex.com/">ShareX</a>, I decided to make something 
    I could use offline and without having to constantly open a browser for it.
  </p>
</div>
