<div class="home">
  <div class="container">
    <div id="css-menu" ng-class="{ active: viewingCss === true }">
      <div class="menu-toggle force"  ng-click="viewingCss = !viewingCss"><span></div>
        <div class="container">
          <div id="css-display"></div>
        </div>
      </div>
      <div id="settings-menu">
        <div class="menu-toggle">
          <span></span>
        </div>
        <div class="menu-content">
          <ul>
            <li><select title="Select a syntax" class="lang-select" ng-change="_home.updateMode()" ng-model="_home.model.selectedLang" ng-options="lang for lang in _home.availableLangs"></select></li>
            <li><select title="Select a styling" class="theme-select" ng-change="_home.updateTheme()" ng-model="_home.model.selectedTheme" ng-options="theme for theme in _home.availableThemes"></select></li>
            <li>
              <select title="Select your toolbar location" class="toolbar-select" ng-model="_home.model.toolbarIconLocation">
                <option value="left">Left</option>
                <option value="right">Right</option>
              </select>
            </li>
            <li>
              <div title="Select your code window width"class="range-slider">
                <input class="range-slider__range" value="100" min="50" max="100" type="range" ng-model="_home.model.winWidth" />
                <span class="range-slider__value">{{_home.model.winWidth}}</span>
              </div>
            </li>
            <li><input title="Select your tabsize" type="number" ng-model="_home.model.tabSize"/></li>
          </ul>
        </div>
      </div>

      <div id="code-output" ng-style="{ width: _home.model.winWidth + '%' }">
        <span class="ion-code-download export-icon" title="Convert to image" ng-click="_home.publish()"></span>
        <span class="ion-social-css3 css-icon" ng-click="viewingCss = !viewingCss"></span>
        <div class="o-background" id="pluck-result">
          <div class="o-window">
            <div class="o-bar" ng-class="{ left: _home.model.toolbarIconLocation === 'left', right: _home.model.toolbarIconLocation === 'right' }">
              <div class="o-close"></div>
              <div class="o-min"></div>
              <div class="o-max"></div>
            </div>
            <div class="o-body">

            </div>
          </div>
          <div class="o-signature">
            {{_home.model.signature}}
          </div>
        </div>
      </div>
    </div>
  </div>
