<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Plukkit</title>
    <!-- load in the main app styles -->
    <link rel="stylesheet" href="css/ionicons.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="js/codemirror/theme/tomorrow-night-bright.css" />

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.js"></script>
    <script src="js/codemirror/lib/codemirror.js"></script>
    <script src="js/codemirror/mode/css/css.js"></script>
</head>

<body ng-app="app">
    <div class="toolbar" ng-controller="ToolbarController as toolbar">
        <div class="window-icons">
            <span class="maximize-icon" ng-click=toolbar.maximize()></span>
            <span class="minimize-icon" ng-click=toolbar.minimize()></span>
            <span class="close-icon" ng-click=toolbar.close()></span>
        </div>
        <span>Plukkit</span>
    </div>

    <div ng-view id="ng-view">

    </div>

    <script src="js/utils.js"></script>
    <script src="js/app.js" /></script>
    <script src="js/directives/allowTab.directive.js"></script>
    <script src="js/directives/elastic.directive.js"></script>
    <script src="js/controllers/toolbar.controller.js"></script>
    <script src="js/controllers/home.controller.js"></script>
    <script src="js/helpers/string.helper.js"></script>
</body>

</html>
